.form-textbox {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.layout {
  border: solid black 1px;
}
.spacer {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 15%;
  background-color: gainsboro;
}
.field {
  padding-left: 10px;
  width: 85%;
}
